@import "../../vars.css";

.container {
    margin-top: 75px;
    color: var(--color-text);
    margin-left: 10%;
    margin-right: 10%;
}

.title {
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

.projects {
    padding-top: 30px;
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 15px;
    width: 100%;
}
