@import "../../vars.css";

.container {
    margin-top: 75px;
    color: var(--color-text);
    margin-left: 10%;
    margin-right: 10%;
}

.title {
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

.projects {
    padding-top: 30px;
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 15px;
    width: 100%;
}

.cardContainer {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: var(--color-accent);
    box-shadow: 0 16px 14 px 0 #04152d;
    max-width: 345px;
}

.cardImage {
    margin-bottom: 24px;
}

.cardTitle {
    font-size: 24px;
    font-weight: 700;
}

.cardDescription {
    margin-top: 5px;
    font-size: 24px;
    font-weight: 400;
}

.cardSkills {
    width: 100%;
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    list-style: none;
}

.cardSkill {
    font-size: 24px;
    font-weight: 400;
    border-radius: 100px;
    color: var(--color-accent);
    align-items: center;
    background-color: var(--color-primary);
    padding: 2px 22px ;
}

.cardLinks { 
    width: 100%;
    margin-top: 25px;
    display: flex;
    justify-content: space-around;
}

.cardLink {
    text-decoration: none;
    color: var(--color-bg);
    font-size: 28px;
    font-weight: 600;
    border-radius: 100px;
    background: var(--color-dark);
    padding: 2px 22px;
}