@import "../../vars.css";

.container {
  position: relative;
  background-color: var(--about-card-color);
  border-radius: 15px;
  padding: 75px;
  margin-top: 125px;
  z-index: 1;
  margin-left: 10%;
  margin-right: 10%;
}

.title {
  color: var(--about-heading-color);
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 1.75px;
  text-transform: uppercase;
}

.contentBio {
  padding-top: 30px;
  color: var(--about-text-color);
  flex: 1;
  margin-right: 20px;
  font-family: var(--font-roboto);
  font-size: 24px;
  text-align: justify;
  letter-spacing: 1.5px;
  line-height: 2rem;
}

@media screen and (max-width: 830px) {
  .container {
    background-color: transparent;
    padding: 0;
  }
  .content {
    flex-direction: column;
  }
}
