/* Import variables */
@import "../../vars.css";

.cardContainer {
  width: 500px;
  height: 350px;
  position: relative;
  text-wrap: wrap;
  overflow: scroll;
  border-radius: 10px;
  padding: 10px;
  background-color: var(--testimonial-card-color);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.cardTitle {
  font-size: 20px;
  font-weight: bolder;
  margin-bottom: 10px;
  text-align: center;
  color: var(--testimonial-heading-color);
}

.cardDescription {
  font-size: 16px;
  margin-bottom: 10px;
  text-align: center;
  font-style: italic;
  color: var(--testimonial-secondary-heading-color);
}

.cardBody {
  font-size: 16px;
  word-spacing: 1.5px;
  padding: 10px;
  color: var(--testimonial-body-color);
}