/* Import variables */
@import "../../vars.css";

.container {
    margin-top: 75px;
    color: var(--color-text);
    margin-left: 10%;
    margin-right: 10%;
    overflow-x: auto; /* Enable horizontal scrolling */
    white-space: nowrap; /* Prevent wrapping of projects */
}

.title {
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

.projectsContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 20px 0;
    overflow-x: auto; /* Enable horizontal scrolling */
}

.projects {
    display: flex;
    flex-wrap: nowrap; /* Prevent wrapping of projects */
    gap: 20px;
    padding-bottom: 20px;
}