/* Import variables */
@import "../../vars.css";

.container {
  margin-top: 75px;
  color: var(--universal-heading);
  margin-left: 10%;
  margin-right: 10%;
  overflow-x: auto;
  white-space: nowrap;
}

.title {
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.testimonialsContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 20px 0;
  overflow-x: auto;
}

.testimonials {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  padding-bottom: 20px;
  text-align: center;
}
