:root {
  /* Colors */
  --color-text: hsla(206, 5%, 30%, 1); /* Dark gray for text */
  --color-primary: hsla(211, 89%, 46%, 1); /* Rich blue for primary elements */
  --universal-heading: hsla(
    211,
    89%,
    46%,
    1
  ); /* Rich blue for primary elements */
  --color-secondary: hsla(
    206,
    100%,
    25%,
    1
  ); /* Dark blue for secondary elements */
  --color-accent: hsla(
    17,
    100%,
    57%,
    1
  ); /* Vibrant orange for accentuating buttons */
  --color-dark: hsla(0, 0%, 38%, 1); /* Medium gray for contrast */
  --color-light: hsla(0, 0%, 68%, 1); /* Medium gray for contrast */
  --color-bg: hsla(0, 0%, 96%, 1); /* Light gray for background */

  /* Background Coloring */
  --background-primary: var(--color-bg);
  --background-secondary: hsla(
    0,
    0%,
    100%,
    1
  ); /* White for secondary background elements */
  --background-contrasting: var(--color-dark);

  /* Navigation Styling */
  --logo-color: var(--color-primary);
  --logo-hover-color: var(--color-accent);

  --nav-bg-color: var(--color-secondary); /* Updated */
  --nav-text-color: var(--color-accent);
  --nav-text-hover-color: var(--universal-heading);

  /* Hero Styling */
  --heading-color: var(--color-accent);
  --heading-secondary-color: var(--color-primary);
  --supporting-text-color: var(--color-text);

  --btn-color: var(--color-accent);
  --btn-text-color: hsla(0, 0%, 100%, 1); /* White text for button contrast */
  --btn-color-hover: hsla(12, 88%, 50%, 1); /* Darker shade for button hover */
  --btn-text-color-hover: var(--btn-text-color);

  /* About Styling */
  --about-card-color: var(--color-secondary);
  --about-heading-color: var(--color-accent);
  --about-text-color: var(--color-bg);

  /* Skills & Experience Styling */
  --history-card-color: var(--color-light);
  --skill-card-color: var(--color-secondary);

  --history-heading-color: var(--color-secondary);
  --history-secondary-heading-color: var(--color-primary);
  --history-text-color: var(--color-secondary);
  --skill-text-color: var(--color-accent);

  /* Project Card Styling */
  --project-card-color: hsla(0, 0%, 100%, 1); /* White cards for projects */
  --project-overlay-color: rgba(
    0,
    0,
    0,
    0.8
  ); /* Semi-transparent overlay on project images */

  --project-heading-color: var(--color-primary);
  --project-text-color: var(--color-bg);

  --project-skills-color: var(--color-secondary);

  --project-visit-text-color: var(--color-dark); /* Updated */
  --project-visit-color: var(--color-accent);
  --project-visit-hover-color: var(--color-secondary);

  --project-repo-text-color: var(--color-dark);
  --project-visit-repo-color: var(--color-accent);
  --project-repo-hover-color: var(--color-secondary);

  /* Testimonial Styling */
  --testimonial-card-color: var(--color-light);
  --testimonial-heading-color: var(--color-secondary);
  --testimonial-secondary-heading-color: var(--color-accent);
  --testimonial-body-color: var(--color-secondary);

  /* Contact Styling */
  --contact-heading-color: var(--color-primary);
  --contact-tagline-color: hsla(0, 0%, 100%, 1);
  --contact-link-color: var(--color-secondary);
  --contact-link-hover-color: var(--color-text);
}
