@import "../../vars.css";

.row {
    display: flex;
    overflow-x: hidden;
    overflow-y: scroll;
}

.poster {
    padding: 15px;
    max-height: 150px;
    object-fit: contain;
    margin-right: 10px;
}

.row::-webkit-scrollbar {
    display: none;
}